@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.page-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/background.jpg);
    background-position: center;
}

.page-wrapper .container {
    background-color: #fff;
    padding: 30px 30px 0px 30px;
    border: 3px solid #2f2e2e;
    border-radius: 10px;
}

h1 {
    color: #2f2e2e;
    padding-bottom: 30px;
}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/clock.png);
    background-size: cover;
    border: 3px solid #2f2e2e;
    box-shadow: 0 0 15px #2f2e2e;
    border-radius: 50%;
}

.clock::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #393053;
    border-radius: 50%;
    z-index: 100;
}

.clock .hours,
.clock .minutes,
.clock .seconds {
    position: absolute;
}

.clock .hours .hour-hand {
    display: flex;
    justify-content: center;
    width: 160px;
    height: 160px;
}

.clock .minutes .minute-hand {
    display: flex;
    justify-content: center;
    width: 190px;
    height: 190px;
}

.clock .seconds .second-hand {
    display: flex;
    justify-content: center;
    width: 230px;
    height: 230px;
}

.clock .hours .hour-hand::before {
    content: '';
    width: 6px;
    height: 85px;
    background-color: #bf321a;
    box-shadow: 0 0 10px #bf321a;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.clock .minutes .minute-hand::before {
    content: '';
    width: 4px;
    height: 100px;
    background-color: #000;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.clock .seconds .second-hand::before {
    content: '';
    width: 2px;
    height: 150px;
    background-color: #000;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

@media (max-width: 991px) {
    .clock {
        width: 250px;
        height: 250px;
    }

    .clock .hours .hour-hand {
        display: flex;
        justify-content: center;
        width: 130px;
        height: 130px;
    }
    
    .clock .minutes .minute-hand {
        display: flex;
        justify-content: center;
        width: 160px;
        height: 160px;
    }
    
    .clock .seconds .second-hand {
        display: flex;
        justify-content: center;
        width: 200px;
        height: 200px;
    }
    

    .clock .hours .hour-hand::before {
        content: '';
        width: 6px;
        height: 65px;
        background-color: #bf321a;
        box-shadow: 0 0 10px #bf321a;
        z-index: 10;
        border-radius: 6px 6px 0 0;
    }
    
    .clock .minutes .minute-hand::before {
        content: '';
        width: 4px;
        height: 80px;
        background-color: #000;
        z-index: 11;
        border-radius: 6px 6px 0 0;
    }
    
    .clock .seconds .second-hand::before {
        content: '';
        width: 2px;
        height: 120px;
        background-color: #000;
        z-index: 12;
        border-radius: 6px 6px 0 0;
    }
}